*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
}

.body_content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 10px 100px;
    text-align: center;
    background-color: #1F2937;
}

.header_content{
    display: flex;
    justify-content: space-between;
}